.displayfont{
    font-size: calc(0.750rem + 0.5vw);
    font-weight: 300;
    line-height: 1.2;
}
#textButton{
	background:none; 
	border:none;
	font-size:12px;
	font-family: helvetica;
	text-decoration: underline;
	cursor: pointer;
}        
#textNoButton{
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	font-family: helvetica;
}
#marginL{
	margin-left:20px;
}
#imagesCenter{
	display: inline-block;
}
#margin{
	margin-left:20px;
	margin-right:20px;
}
#marginCenter{
    margin-left:38%;
}
#verticalAlignBottom{
	vertical-align: bottom;
}
#ConfirmButtonWidth100{
	width: 100%;
}
#ButtonWidth45{
	width:47%;
}
#tableRowHeight{
	line-height:80px;
}
#boldText{
	font-weight: bold;
}

#tableLink a{
	color:black;
}

#tableLink a:hover{
	color: #ffffff;
	background-color:#0275d8;
}
#messageTdWidthLeft{
	width:50%;
	text-align:left;
}
#messageTdWidthRight{
	width:50%;
	text-align:right;
}