<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Home</title>
</head>
<body>
	<p>Home site</p>

	<p>Welcome, <span th:text="${givenName}"></span></p><br>
	<a th:href="@{/user/panel}">Show user panel</a>
	<a th:href="@{/main/creation/offer/form/0/0}">Create your offer</a><br>
	<a th:href="@{'/offer/list/'+${false}+'/'+${false}}">View offers</a>
	

	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout">
	</form>
</body>
</html>