<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	 <style>
    	.displayfont{
    		font-size: calc(0.750rem + 0.5vw);
    		font-weight: 300;
    		line-height: 1.2;
    	}
    	#marginL{
    		margin-left:20px;
    	}
    </style>
    
	<title>Offer form</title>
</head>
<body class="bg-light">
	<div id="marginL" class="ml-5">
	<h3 class="display-1 text-center ">Offer creation site</h3>
	<form th:action="@{/main/creation/offer/creation}" th:object="${offer}" method="POST" enctype="multipart/form-data" novalidate>
		<input type="hidden" th:field="*{id}">
			
		<span th:errors="*{title}"></span><br>
		<label for="title" class="form-label">Title:</label>
		<div class="col-2">
			<input type="text" class="form-control" th:field="*{title}" id="title"><br>
		</div>
		
		<span th:errors="*{price}"></span><br>
		<label for="price" class="form-label">Price:</label>
		<div class="col-2">
			<input type="number" class="form-control" th:field="*{price}" id="price" step="0.01"><br>
		</div>
		
		<span th:errors="*{description}"></span><br>
		Description:<br><textarea rows="10" cols="100" th:field="*{description}" class="form-control" placeholder="Best offer ever..."></textarea><br>
		
		<div class="w-25">
			<label class="form-label" for="fileInput">(Max 10MB)</label>
			<input type="file" class="form-control form-control-sm" th:name="imageParam" id="fileInput" accept="image/*" multiple/><br>
		</div>
		

		<button class="w-25 btn btn-primary btn-lg mt-2" type="submit">Submit</button>
	</form>
	<a th:href="@{/main/}" class="w-25 btn btn-primary btn-lg mt-2">Back</a> 
	</div>
</body>
</html>