<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Offer form</title>
</head>
<body>
	<div th:if="${upload == 'fail'}">
		<p>Exceeded the maximum upload</p>
	</div>
	<form th:action="@{/main/creation/offer/creation}" th:object="${offer}" method="POST" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}">
		Title:<input type="text" th:field="*{title}"><br>
		Price:<input type="number" th:field="*{price}" step="0.01"><br>
		Description:<br><textarea rows="10" cols="100" th:field="*{description}" placeholder="Best offer ever..."></textarea><br>
		Provide images (Max 10MB):<br><input type="file" th:name="imageParam" accept="image/*" multiple/>
		<button type="submit">Submit</button>
	</form>
	<a th:href="@{/main/}">Back</a> 
</body>
</html>