<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>User deletion</title>
</head>
<body>
	<div th:if="${credentials == 'fail'}">
		<p>Invalid credentials</p>
	</div>
	<h3 th:text="'Deleting user: '+${username}"></h3>
	<form th:action="@{/admin/user/delete}" method="POST"> 
		<input type="hidden" th:name="userToDelId" th:value="${userToDelId}">
		Password: <input type="password" th:name="passwd">
		
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		<button type="submit">Confirm</button>
	</form>
	<a th:href="@{/admin/panel}">Back to the list</a>
</body>
</html>