<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Password reset</title>
</head>
<body>
	<div th:if="${credentials == 'fail'}">
		<p>Invalid credentials</p>
	</div>
	<div th:if="${credentials == 'success'}">
		<p>Password reset succeeded</p>
	</div>
	<h3>Password reset</h3>
	<form th:action="@{/login/passwordreset}" method="POST">  
		Username: <input type="text" th:name="username">
		Reset code: <input type="password" th:name="code">
		New password: <input type="password" th:name="passwd">
		<button type="submit">Confirm</button>
	</form>
	<a th:href="@{/}">Back</a>
</body>
</html>