<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Registration form</title>
</head>
<body>
	<h3>Register</h3>
	<form th:action="@{/login/registerForm/creation}" th:object="${user}" method="POST">
		<span th:errors="*{username}"></span><br>
		Username:<input type="text" th:field="*{username}"><br>
		<span th:errors="*{password}"></span><br>
		Password:<input type="password" th:field="*{password}"><br>
		<span th:errors="*{resetCode}"></span><br>
		Password reset code: <input type="password" th:field="*{resetCode}"><br>
		<div th:object="${userDetails}">
			<span th:errors="*{name}"></span><br>
			Name:<input type="text" th:field="*{name}"><br>
			<span th:errors="*{surname}"></span><br>
			Surname:<input type="text" th:field="*{surname}"><br>
			<span th:errors="*{email}"></span><br>
			Email:<input type="text" th:field="*{email}"><br>
			<span th:errors="*{city}"></span><br>
			City:<input type="text" th:field="*{city}"><br>
			<span th:errors="*{phoneNumber}"></span><br>
			Phone number:<input type="text" th:field="*{phoneNumber}"><br>
		</div>
		<button type="submit">Submit</button>
	</form>
	<a th:href="@{/}">Back</a>
</body>
</html>