<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<style>
        #textButton{
            background:none; 
            border:none;
            font-size:12px;
            font-family: helvetica;
             text-decoration: underline;
  			cursor: pointer;
        }
        
        #textNoButton{
        	font-size: 12px;
        	text-decoration: none;
        	font-weight: normal;
        	font-family: helvetica;
        }
    </style>

	<title>Offer menu</title>
</head>
<body>
	<form th:action="@{/offer/list/view/show}" th:object="${listModifier}" method="GET">
		<input type="hidden" th:field="*{isShowClicked}">
		<input type="hidden" th:field="*{isNext}">
		<input type="hidden" th:field="*{previousPage}">
		<input type="hidden" th:field="*{currentPage}">
		<input type="hidden" th:field="*{filter}">
		<input type="hidden" th:field="*{wantSubbedList}">
		<input type="hidden" th:field="*{wantOwnOffers}">
		
		<input type="hidden" th:field="*{startingRow}">
		<input type="hidden" th:field="*{comparingMethod}">
		
		<span th:if="${listModifier.filter}==null">
		Title: <input type="text" th:field="*{filter}"><br>
		</span>
		
		<button th:if="${listModifier.isShowClicked}==false" type="submit">Show</button>
		
		<button type="submit" th:formaction="@{'/offer/list/'+${listModifier.wantSubbedList}+'/'+${listModifier.wantOwnOffers}}">Refresh</button>
		<a th:href="@{/main/}">Back to main panel</a> <!--  dorobic role, jak niezalogowany to do landing -->
	<table>
		<tr>
			<th><button id="textButton" type="submit" th:formaction="@{/offer/list/viewAll/id}">ID</button></th>
			<th><button id="textButton" type="submit" th:formaction="@{/offer/list/viewAll/title}">Title</button></th>
			<th><button id="textButton" type="submit" th:formaction="@{/offer/list/viewAll/dateOfCreation}">Added</button></th>
			<th><button id="textButton" type="submit" th:formaction="@{/offer/list/viewAll/price}">Price</button></th>
			<th><span id="textNoButton">Author</span></th>
			<th><span id="textNoButton">Picture</span></th>
			<th></th>
		</tr>
		<tr th:each="offer : ${offers}">
			<td th:text="${offer.key.id}"></td>
			<td><a th:href="@{'/offer/list/pickedoffer/'+${offer.key.id}+'/false/false'}" th:text="${offer.key.title}"></a></td>
			<td th:text="${#strings.substring(offer.key.dateOfCreation,0,10)}"></td>
			<td th:text="${offer.key.price}+'$'"></td>
			<td th:text="${offer.key.user.username}"></td>
			<td><img th:if="${offer.value}" th:src="@{'/img/offer-images/'+${offer.key.user.id}+'/'+${offer.key.id}+'/'+${offer.value}}" alt="Missing image" width="80" height="80"></td>
			<span th:if="${offer.key.user.id}==${loggedUserId}">
				<td>
					<a th:href="@{'/main/creation/offer/form/'+${offer.key.id}+'/'+${loggedUserId}}">Modify Offer/</a>
					<a th:href="@{'/offer/delete/form/'+${offer.key.id}+'/'+${offer.key.user.id}+'/success'}">Delete Offer/</a>
					<a th:if="${offer.key.isActive}==true" th:href="'/offer/disable/'+${offer.key.id}+'/'+${offer.key.user.id}">Disable</a>
					<a th:if="${offer.key.isActive}==false" th:href="'/offer/enable/'+${offer.key.id}+'/'+${offer.key.user.id}">Enable</a>
				</td>
			</span>
		</tr>
	</table><br>
	
	<span th:if="${listModifier.isShowClicked}">
		<button th:if="${listModifier.previousPage}>0" type="submit" th:formaction="@{/offer/list/view/left}">&larr;</button>
		
		<span th:text="${'Page: '+listModifier.currentPage}"></span>
		
		<button th:if="${listModifier.isNext}" type="submit" th:formaction="@{/offer/list/view/right}">&rarr;</button>
	</span>
	</form>
	
</body>
</html>