<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Picked offer</title>
	<style>
		#imagesCenter{
			display: inline-block;
		}
	
	</style>
</head>
<body>
	<h3 th:text="${offer.title}"></h3>
	<span th:if="${failedToFollow}==true">
		<p> Already subscribed! </p>
	</span>
	<span th:text="'Added: '+${date}+' by: '"></span><a th:href="@{'/user/viewprofile/picked/'+${offer.user.id}}" th:text="${offer.user.username}"></a><br>
	<span th:if="${offer.user.id}!=${currentUser.id}">
		<a th:if="${isSubbed}==false" th:href="@{'/offer/follow/'+${offer.id}}">Add to follow</a>
		<a th:if="${isSubbed}==true" th:href="@{'/offer/unfollow/'+${offer.id}}">Unfollow</a>
		<a th:href="@{'/offer/report/'+${offer.id}}">Report offer</a>
	</span>

	<p th:text="'Price: '+${offer.price}+' USD'"></p>
	<p th:text="${offer.description}"></p>
	<div>
		<span th:each="offerImage : ${offerImages}">
		<img th:src="@{'/img/offer-images/'+${offer.user.id}+'/'+${offer.id}+'/'+${offerImage}}" alt="Missing image" width="160" height="160">
		</span>
	</div>
	<span th:if="${backTwice}==true">
		<a onclick="history.go(-2)">Back to the list</a>
	</span>
	<span th:if="${backTwice}==false">
		<a onclick="history.go(-1)">Back to the list</a>
	</span>
</body>
</html>