<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Modify account</title>
</head>
<body>
	<p>Modify account</p>
	<div th:if="${credentials == 'fail'}">
		<p>Invalid credentials</p>
	</div>
	<div th:if="${credentials == 'success'}">
		<p>Modification succeeded</p>
	</div>
	<form th:action="@{/user/modify}" th:object="${userDetails}" method="POST">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{email}">
		<input type="hidden" th:field="*{lastLogin}">
		<span th:errors="*{name}"></span><br>
		Name:<input type="text" th:field="*{name}"><br>
		<span th:errors="*{surname}"></span><br>
		Surname:<input type="text" th:field="*{surname}"><br>
		<span th:errors="*{city}"></span><br>
		City:<input type="text" th:field="*{city}"><br>
		<span th:errors="*{phoneNumber}"></span><br>
		Phone number:<input type="text" th:field="*{phoneNumber}"><br>
		Password to confirm:<input type="password" th:name="passwdC"><br>
		
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		<button type="submit">Submit</button>
	</form>
	<a th:href="@{/user/panel}">Back</a>
</body>
</html>