<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Password change</title>
</head>
<body>
	<div th:if="${credentials == 'fail'}">
		<p>Invalid credentials</p>
	</div>
	<div th:if="${credentials == 'success'}">
		<p>Password change succeeded</p>
	</div>
	<h3>Password change</h3>
	<form th:action="@{/user/password/change}" method="POST">  
		Old password:<input type="password" th:name="passwdO">
		New password: <input type="password" th:name="passwd">
		Confirm new password: <input type="password" th:name="passwdC">
		
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		<button type="submit">Confirm</button>
	</form>
	<a th:href="@{/user/panel}">Back</a>
</body>
</html>