<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>User panel</title>
</head>
<body>
	<p>User panel</p>

	<a th:href="@{/user/modify/form}">Modify account</a><br>
	<a th:href="@{/user/delete/form}">Delete account</a><br>
	<a th:href="@{/user/password/form}">Change your password</a><br>
	<a th:href="@{'/offer/list/'+${false}+'/'+${true}}">View your offers</a><br>
	<a th:href="@{'/offer/list/'+${true}+'/'+${false}}">View subscribed offers</a><br>
	<a th:href="@{/main/}">Back</a> 

</body>
</html>