<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Picked user profile</title>
</head>
<body>
	<h3 th:text="${pickedUser.username}"></h3>
	<p th:text="'From: '+${pickedUserD.city}"></p>
	<p th:text="'Last login: '+${lastLogin}"></p>
	<p>to do: report button, admin panel (dla admina)</p>

	<a th:href="@{/main/}">Main menu</a>
</body>
</html>