<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>User panel</title>
</head>
<body>
	<p>User panel</p>

	<a th:href="@{/main/creation/offer/form}">Modify account</a><br><!-- TO DO -->
	<a th:href="@{/offer/list}">View your offers</a><!-- TO DO -->
	<a th:href="@{/offer/list}">View subscribed offers</a><!-- TO DO -->
	<a th:href="@{/main/}">Back</a> 

</body>
</html>